@mixin titulo($calc) {
  font-size: 48px;
  color: #e9e9e9;
  text-shadow: 2px 2px 2px #060606;
  text-align: center;
  margin: 24px 0 32px;
  position: relative;
  margin: 0 0 40px;

  @media(max-width: 980px) {
    font-size: 32px;       
  }

  &::before {
    content: "";
    width: $calc;
    height: 5px;
    background-color: #fcf5e7;
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url('../assets/brown-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transform: translate3d(0,-50%,0) scale(-1);

    @media(max-width: 980px) {
      content: none;
    }
  }
  &::after {
    content: "";
    width: $calc;
    height: 5px;
    background-color: #fcf5e7;
    position: absolute;
    top: 50%;
    right: 0;
    background-image: url('../assets/brown-line.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    transform: translate3d(0,-50%,0);

    @media(max-width: 980px) {
      content: none;
    }
  }
}