@import "_mixins";

body {
  margin: 0;
  font-family: 'Crimson Text', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	line-height: 1.1;
	background: #070A08;
}
ol, ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5,h6,p,span {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none !important;
}
.root {
	position: relative;
}