header {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(180deg, #000 -20%, transparent 100%);

  .container {
    width: 1180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 100%;
      height: 100%;

      & > img {
        display: block;
      }
    }

    &__nav {
      width: 100%;
      height: 100%;

      .navList {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;

        &__link {
          font-size: 20px;
          font-weight: 600;
          color: #fff;
          text-shadow: 2px 2px 2px #a85;
          transition: text-shadow 0.2s ease-in, color 0.3s ease-in;

          &:hover {
            text-shadow: 0 0 0;
            color: #a85;
          }
        }
      }
    }
  }
}