header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  .container {
    width: 1180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 100%;
      height: 100%;

      & > img {
        display: block;
        margin-top: -8px;
      }
    }

    &__nav {
      width: 100%;
      height: 100%;

      .navList {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-evenly;

        &__link {
          font-size: 20px;
          font-weight: 600;
          color: #3b3b3b;
        }
      }
    }
  }
}