footer {
  display: flex;
  justify-content: center;
  margin: 112px 0 40px;

  .container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @media(max-width: 980px) {
      width: 100%;
    }

    & > img {
      width: 300px;
      margin: 0 32px;

      @media(max-width: 980px) {
        margin: 0 16px;
      }
    }

    &::before {
      content: '';
      width: 336px;
      height: 20px;
      background-image: url('../../assets/divider.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(35px);
      
      @media(max-width: 980px) {
        transform: translateY(25px);
      }
    }
    &::after {
      content: '';
      width: 336px;
      height: 20px;
      background-image: url('../../assets/divider.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(35px) scaleX(-1);
      
      @media(max-width: 980px) {
        transform: translateY(25px) scaleX(-1);
      }
    }
  }
}